<form method="POST" action="/questions">
	<input type="text" placeholder="title of the question" name="question[title]"><br>
	<input type="text" placeholder="tagssss" name="question[tag]"><br>
	<textarea row="40" col="100" style="width:400px; height:400px;" placeholder="Anything to ask?" name="question[content]"></textarea><br>
	<input type="submit" value="POST"> 
</form>