body {
	margin-left: 20%;
	margin-right: 20%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #111;
}

.index_page {
	border: 1px solid;
	background-color: #dcecfc;	
	height: 250px;
	width: 500px;
	border-radius: 5px;
	margin-top: 20%;
	margin-right: auto;
	margin-left: auto;
	/*box-shadow: 0 0 0 1px; */
}

.signup {
	float: left;
		font-family: Helvetica,Arial,sans-serif;
	font-size: 13px;
	padding: 2px;
}

.signin {
	float: right;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 13px;
	padding: 2px;
}

.answer_info {
	list-style-type: none;
	margin: 5px;
	padding: 2px;
	overflow: hidden;
}

.answer_info li {
	float: left;
	text-align: center;
	padding: 1px 2px;
}

.question_info {
	list-style-type: none;
	margin: 5px;
	padding: 2px;
	overflow: hidden;
}

.question_info li {
	float: left;
	text-align: center;
	padding: 2px 5px;
}

#edit{
	display:none;
}

#answer_text {
	color: brown;
	font-size: 10px
	font-family: Helvetica,Arial,sans-serif;
}

#question_index tr {
	padding: 5px;
	display: inline;

}