<div class="index_page">
<div class="signup">
<h2>Sign up</h2>
<div><%= flash[:signup] %></div>
<form method=post action=/signup>
	<input type="text" placeholder="Full Name" name="user[fullname]"><br>
	<input type="text" placeholder="Email" name="user[email]"><br>
	<input type="password" placeholder="Password" name="user[password]"><br>
	<input type="submit" value="Sign up">
</form>
</div>

<div class="signin">
<h2>Login</h2>
<div><%= flash[:signin] %></div>
<form method=post action=/signin>
	<input type="text" placeholder="Email" name="user[email]"><br>
	<input type="password" placeholder="Password" name="user[password]"></br>
	<% unless logged_in? %>	
		<input type="submit" value="Login">
	<% end %>
</form>
</div>
<a href="/questions">Continue Without Logging in</a>
</div>

