<html>
	<head>
		<title>Sinatra Framework</title>
		<link rel="stylesheet" href="/css/application.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type='text/javascript' src='/js/application.js'></script>
	</head>
	<body>
	<% if logged_in?%>
		<nav>
			<ul>
				<li><a href="/questions">Questions</a></li>
				<li><a href="/users/<%= current_user.id%>">profile</a></li>
				<li><a href="/questions/new">Create question </a></li>
				<li style="float:right"><a href="/logout">logout</a></li>
			</ul>
		</nav>
	<% end %>
		<%= yield %>

	</body>
</html>